  <!-- MENU MOBILE -->
  <nav class="mobile-navbar navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand p-0" href="index.html">
        <img src="src/assets/logo-serra-verde2.png" alt="Serra Verde Gramas" class="mobile-logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuMobile"
        aria-controls="menuMobile" aria-expanded="false" aria-label="Abrir menu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menuMobile">
        <ul class="navbar-nav pt-2">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Início</a>
          </li>

          <li><span class="mobile-menu-title">Gramas</span></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-esmeralda.html">Grama Esmeralda</a></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-saocarlos.html">Grama São Carlos</a></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-zeon.html">Grama Zeon</a></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-sementes.html">Sementes de Grama</a></li>

          <li><span class="mobile-menu-title">Terra e adubo</span></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-terra.html">Terra Preta</a></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-terraemsaco.html">Terra Preta em Saco</a></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-fertilizante.html">Fertilizante NPK</a></li>

          <li><span class="mobile-menu-title">Acessórios</span></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-irrigacao.html">Kit Irrigação</a></li>
          <li class="nav-item"><a class="nav-link" href="detalhes-ferramentas.html">Kit Ferramentas</a></li>

          <li class="nav-item mt-3">
            <button type="button" class="btn btn-outline-light w-100" onclick="toggleMode()">
              Alternar tema
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>