/* ===== RESET E VARIÁVEIS ===== */
:root {
  --green: #3baa5c;
  --green-hover: #36a154;
  --green-dark: #0ba500;
  --text: #222;
  --text-light: #333;
  --text-gray: #666;
  --text-muted: #99a0a7;
  --border: #e5e5e5;
  --bg-light: #f5f5f5;
  --bg-card: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family:
    "Plus Jakarta Sans",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  color: var(--text-light);
  background: var(--bg-light);
  margin: 0;
}